<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="qna" type="novus.domain.QnaVO" />
		<typeAlias alias="faq" type="novus.domain.FaqVO" />
		<typeAlias alias="posting" type="novus.domain.PostingVO" />
		<typeAlias alias="review" type="novus.domain.ReviewVO" />
		<typeAlias alias="order" type="novus.domain.OrderVO" />
		<typeAlias alias="item" type="novus.domain.ItemVO" />
		<typeAlias alias="member" type="novus.domain.MemberVO" />
		<typeAlias alias="mgr" type="novus.domain.MgrVO" />
		<typeAlias alias="return" type="novus.domain.ReturnVO" />
		<typeAlias alias="cnt" type="novus.domain.SearchCntVO" />
		<typeAlias alias="cart" type="novus.domain.CartVO" />
		<typeAlias alias="delivery" type="novus.domain.DeliveryVO" />
	</typeAliases>
</configuration>

